*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
font-family: 'Overpass', sans-serif;
}

section{
    margin-top: 130px;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 20px;
}

.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

/* Header And Navigation Styles */
nav{
    display: flex;
    justify-content: space-around;
    margin: 50px 200px;
}
.nav-title{
    font-size: 45px;
font-style: normal;
font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 40px;
}

/* Banner Styles */

.banner{
    display: flex;
    align-items: center;
    margin: 50px 130px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
}

.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    padding: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}


/* About Section Styles */
.about{

border-radius: 10px;
background: #FFF8F3;
padding: 130px 150px;
text-align: center;
}

.section-title{
text-align: center;
margin-bottom: 30px;
font-weight: 700;
font-size: 35px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about .info-title{
    font-size: 20px;
    color: #757575;
}

.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}


/* What I Do Styles */


.skills-container{
    display: flex;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin: 30px;
}

.skill-description{
    color: #757575;
}

.skill{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
}

/* Resume Styles */